.a{
    background-color : #ff4da6;
    width: 95%;
    height: 100px;
    margin-left:  20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.b{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 20px;
}
.c{
/* display: inline-block; */
    background-color: #ff037e;
        width: 100%;
        height: 400px;
        margin-left: 20px;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        /* float: left ; */
}
.e{
    /* display: inline-block; */
        background-color: #ce0468;
        width: 85%;
        height: 400px;
        margin-left: 20px;
        margin-top: 10px;
        margin-right: 20%;
        margin-bottom: 10px;
        

}
.d{
    background-color: #802755;
        width: 95%;
            height: 100px;
            margin-left: 20px;
            margin-top: 10px;
            margin-right: 20px;
            margin-bottom: 10px;
}